<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>

<header id="header-index">
    <h1>LifeSpot - о проекте</h1>
    <p>На сайте собраны прямые трансляции из улиц разных городов мира.</p>
    <p>Все трансляции находятся в открытых источниках, в данный момент - youtube.com. </p>
    <!--SLIDER-->
    <p>Отзыв о работе сайта можно оставить здесь</p>
</header>

<!--SIDEBAR-->
<body>
    <div class="reviews">
        <div class="review-button">
            <button onclick="addComment()">Оставить отзыв</button>
        </div>
    </div>


    <div class="container">
        <div class="slider">
            <div class="slider-line">
                <img src="https://cs12.pikabu.ru/post_img/2022/11/30/11/1669836142149098125.jpg" width="100px;" height="100px;" />
                <img src="https://cs14.pikabu.ru/post_img/big/2023/09/06/4/1693976770140391110.jpg" width="100px;" height="100px;" />
                <img src="https://cs12.pikabu.ru/post_img/big/2021/05/30/12/1622405704156696810.jpg" width="100px;" height="100px;" />
            </div>
        </div>

        <button class="slider-prev">Prev</button>
        <button class="slider-next">Next</button>
    </div>

    <script src="../Static/JS/slider.js"></script>
    <script type="text/javascript" src="../Static/JS/about.js"></script>
</body>
<!--FOOTER-->

</html>